@import 'utility'

$base-text-size: 16px
$base-font-family: sans-serif

html
  text-size-adjust: 100%
  min-height: 100vh

body
  @include font-smoothing(on)
  margin: 0
  font: $base-text-size / 1 $base-font-family
  min-height: 100vh
  background-image: url('http://cdn.wallpapersafari.com/1/12/yjRxOc.jpg')
  background-position: center
  background-size: cover
  background-repeat: repeat

//Styling for CSS Delayed Effects Component
.delay-container
  display: flex
  width: 33vw
  flex-wrap: wrap
  margin: 0 auto

  h1
    transition: font-size 200ms
  h1:active
    font-size: 3em

  .delay
    width: 50px
    height: 50px
    margin: 5px
    display: flex
    justify-content: center
    align-items: center
    font-size: 2em
    border-radius: 5px
    background-color: teal
    transition-property: background-color, width, height, color, font-size, box-shadow
    transition-duration: 200ms, 500ms, 500ms, 500ms, 200ms, 200ms
    text-align: center
    color: white

  .delay:hover
    background-color: #ED5050
    box-shadow: 3px 3px 3px black
    color: #6D6969
    font-size: 4em
    width: 100px
    height: 100px

//Styling for CSS Transformation Component
.transformation-container
  width: 75vw
  margin: 100px auto
  text-align: center
  transition: 1s ease-in-out

  .skewed-bg
    background-color: #2E91C5
    padding: 100px 0
    margin-top: 75px
    border: 3px solid black
    text-shadow: 2px 2px 2px white
    box-shadow: 5px 5px 5px black

.transformation-container:active
  transform: scale(0.85) skew(0deg, -3deg) rotateY(180deg) rotateX(45deg)

.transform-two
  display: flex
  flex-wrap: wrap
  margin: 50px auto
  width: 35vw

  .transform
    background-color: white
    margin: 5px
    width: 100px
    height: 100px
    font-size: 0.5em

//Styling for CSS Animation Component
.animation-container
  text-align: center
  display: flex
